.MessageField {
  font-family: "Courier New", Courier, monospace;
  width: 400px;
  font-size: 14pt;
}
.HeaderStyle1 {
  font-family: "Courier New";
  font-size: 30px;
}
.HeaderStyle2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
}
.FormStyle {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}
.div {
  position: fixed;
  width: 100%;
  top: 220px;
  left: 0;
}

.submit-button {
  width: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
