.MessageField {
  font-family: "Courier New", Courier, monospace;
  width: 400px;
  font-size: 14pt;
}
.HeaderStyle1 {
  font-family: "Courier New";
  font-size: 30px;
}
.HeaderStyle2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}
.FormStyle {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}
.div {
  top: 500px;
  left: 0;
  z-index: 2; /*Add this*/
}

.submit-button {
  width: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.caption {
  font-size: 12px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: rgb(95, 95, 95);
}
