.Nav-element {
  color: rgb(82, 80, 80);
  font-weight: lighter;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.Nav-bar {
  position: fixed;
  color: black;
  width: 100%;
  top: 120px;
  left: 0;
  padding-left: 60px;
  padding-right: 60px;
}
